{#
SPDX-License-Identifier: GPL-3.0-or-later
Copyright 2021, CZ.NIC z.s.p.o. (http://www.nic.cz/)
#}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/turris-auth/favicon.ico">
	<link rel="stylesheet" href="/turris-auth/app.css">
	<title>Login - Turris</title>
</head>
<body id="login-body" class="text-center" data-new-gr-c-s-check-loaded="8.881.0" data-gr-ext-installed="">
	<form method="POST" class="form-login">
		<img class="mb-3" src="/turris-auth/logo.svg" alt="Turris Logo" width="280">

{% if wrongpass %}
		<div class="alert alert-danger">
			<span>Wrong password.</span>
		</div>
{% endif %}

		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" name="password" autofocus="" required="">
		<button class="btn btn-primary btn-block mb-3" type="submit">Log in</button>

	</form>
</body>
</html>
