.form-login {
    max-width: 360px;
    margin: 0 auto;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.http-warning {
    max-width: 473px;
    margin: 0 auto;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.19rem;
    fill: currentcolor;
}

form img {
	margin: 0 auto;
}

[data-bs-theme="light"] {
    body {
        background: #f5f5f5;
    }
}

[data-bs-theme="dark"] {
	body {
		background: #1e2021;
	}

	form img {
		filter: invert(0.85);
	}
}